.main {
    margin-left: 220px;
    width: 980px;
    height: 453px;
    margin-top: 10px;
}

.main .focus {
    float: left;
    width: 720px;
    height: 453px;
    background-color: purple;
}

.main .newsflash {
    float: right;
    height: 453px;
    width: 251px;
}

.news {
    height: 165px;
    border: 1px solid #e4e4e4;
}

.news_hd {
    height: 33px;
    border-bottom: 1px dotted #e4e4e4;
    line-height: 33px;
    font-size: 14px;
    color: #333333;
    padding: 0 15px;
}

.news_hd h5 {
    float: left;
    font-size: 14px;
}

.news_hd .more {
    float: right;
    color: #333333;
    font-size: 14px;
    line-height: 33px;
}

.news_hd .more::after {
    font-family: "icomoon";
    content: "\e913";
    font-size: 14px;
    line-height: 33px;
}

.news_bd ul {
    padding: 5px 0 5px 15px;
}

.news_bd ul li {
    font-size: 13px;
    line-height: 25px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.lifeservice {
    height: 209px;
    border: 1px solid #e4e4e4;
    border-top: 0;
    overflow: hidden;
}

.lifeservice ul {
    width: 254px;

}

.lifeservice ul li {
    position: relative;
    display: block;
    float: left;
    width: 63px;
    height: 71px;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    text-align: center;
}

.lifeservice ul li i {
    display: inline-block;
    width: 22px;
    height: 26px;
    background-color: pink;
    /* margin-left: 20px; */
    margin-top: 15px;

}

.lifeservice ul li .lifeservice1 {
    background: url(../images/icons.png) no-repeat -18px -16px;
}

.lifeservice ul li .lifeservice2 {
    background: url(../images/icons.png) no-repeat -81px -16px;
}

.lifeservice ul li .life1 {
    position: absolute;
    top: 0;
    right: 0;
}

.lifeservice ul li .lifeservice3 {
    background: url(../images/icons.png) no-repeat -143px -16px;
}

.lifeservice ul li .lifeservice4 {
    background: url(../images/icons.png) no-repeat -205px -16px;
}

.lifeservice ul li .lifeservice5 {
    background: url(../images/icons.png) no-repeat -17px -88px;
}

.lifeservice ul li .lifeservice6 {
    background: url(../images/icons.png) no-repeat -78px -88px;
}

.lifeservice ul li .lifeservice7 {
    background: url(../images/icons.png) no-repeat -141px -88px;
}

.lifeservice ul li .lifeservice8 {
    background: url(../images/icons.png) no-repeat -206px -88px;
}

.lifeservice ul li .lifeservice9 {
    background: url(../images/icons.png) no-repeat -17px -159px;
}

.lifeservice ul li .lifeservice10 {
    background: url(../images/icons.png) no-repeat -78px -159px;
}

.lifeservice ul li .lifeservice11 {
    background: url(../images/icons.png) no-repeat -143px -159px;
}

.lifeservice ul li .lifeservice12 {
    background: url(../images/icons.png) no-repeat -206px -88px;
}

.bargain {
    margin-top: 5px;
}

.recom {
    height: 163px;
    background-color: #ebebeb;
    margin-top: 12px;
}

.recom_hd {
    float: left;
    height: 100%;
    width: 205px;
    background-color: #5c5251;
    text-align: center;
    padding-top: 30px;
}

.recom_bd {
    float: left;
}

.recom_bd ul li {
    float: left;

}

.recom_bd ul li {
    position: relative;
}

.recom_bd ul li:nth-child(-n+3)::after {
    content: "";
    position: absolute;
    top: 10px;
    right: 0;
    width: 1px;
    height: 143px;
    background-color: #dddddd;
}

.recom_bd ul li img {
    width: 247px;
    height: 163px;
}

.recom_bd ul .recom1 {
    width: 247px;
    height: 163px;
}

.recom_bd ul .recom2 {
    width: 247px;
    height: 163px;
}

.recom_bd ul .recom3 {
    width: 247px;
    height: 163px;
}

.recom_bd ul .recom4 {
    width: 247px;
    height: 163px;
}

.like_text1 {
    display: inline-block;
    height: 27px;
    font-size: 18px;
    color: #333333;
    margin-top: 30px;
}

.like_text1::after {
    content: "换一批\e910";
    font-family: 'icomoon';
    padding-left: 1045px;
}


.like_item {
    height: 233px;
    /* background-color: purple; */
    margin-top: 10px;
    border: 1px solid #ededed;
    box-sizing: border-box;
}

.like_item ul li {
    position: relative;
    float: left;
    width: 199px;
    height: 233px;
    /* background-color: skyblue; */
    font-size: 12px;
    color: #666;
}

.like_item ul li:nth-child(-n+5)::after {
    content: "";
    position: absolute;
    top: 158px;
    left: 179px;
    width: 1px;
    height: 64px;
    background-color: #dddddd;
}

.like_item ul .like_item1 div {
    margin-left: 34px;
    line-height: 20px;
}

.like_item ul li p {
    font-size: 18px;
    color: #df3033;
}

.like_item ul .like_item1 img {
    padding-top: 25px;
    padding-left: 20px;
}

.like_item ul .like_item2 img {
    padding-top: 45px;
    padding-left: 20px;
}

.like_item ul .like_item3 img {
    padding-top: 28px;
    padding-left: 80px;
    padding-bottom: 12px;
}

.like_item ul .like_item4 img {
    padding-top: 55px;
    padding-left: 35px;
    padding-bottom: 50px;
}

.like_item ul .like_item5 img {
    padding-top: 20px;
    padding-left: 40px;
    padding-bottom: 15px;
}

.like_item ul .like_item6 img {
    padding: 20px 65px 20px 70px;
}

.jiadian_hd {
    height: 30px;
    border-bottom: 2px solid #c81623;
    margin-top: 30px;
}


.jiadian_hd h4 {
    float: left;
    font-size: 18px;
    color: #c81623;
    font-weight: 400;
}

.jiadian_hd .tab_list {
    float: right;
}

.jiadian_hd .tab_list ul li {
    float: left;
}

.jiadian_hd .tab_list ul li a {
    padding: 0 15px;
}

.jiadian_bd {
    height: 359px;
}

.jiadian_bd>div {
    float: left;
    height: 100%;
}

.col_210 {
    width: 210px;
    background-color: #f9f9f9;
    text-align: center;
}

.col_210 ul {
    /* float: left; */
    margin-left: 13px;
}

.col_210 img {
    padding-top: 25px;
}

.col_210 ul li {
    float: left;
    width: 87px;
    height: 33px;
    border-bottom: 1px solid #ccc;
    text-align: center;
    line-height: 33px;
    margin-right: 10px;
}

.col_329 {
    width: 329px;
}

.col_221 {
    width: 221px;
    padding-top: 70px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.col_220 {
    width: 220px;
    border-right: 1px solid #ccc;
}

.col_220 img {
    margin-top: 22px;
}

.bb {
    display: block;
    border-bottom: 1px solid #ccc;
}